/****
Color Palette 
Deep Blue: #28527A
Light Blue: #8aC4D0
Goldenrod: #F4D160
Pale Yellow: #FBEEAC
Off White: #FBFBF8
****/

/****
Base Attributes
****/
body{   background: #F4D160; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4d160 0%, #28527A 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f4d160 0%,#28527A 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f4d160 0%,#28527A  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d160', endColorstr='#28527A',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
    font-family: 'Prompt', sans-serif;
}

.main{
    display: flex; 
    margin-left: 275px; 
    flex-direction: column;
}

.spacer{
    height: 10px;
    width: 100%;
}

/****
Header
****/
header{
    height: 150px;
    width: 100%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background-color: #28527A;
    font-size: 55px;
    margin-top: -60px;
    color: #FBFBF8;
}

/****
Sidebar
****/
.navbar{
    width: 250px;
    /* border: 1px solid white; */
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 5px;
    overflow-x: hidden;
}

.navbar h1{
    font-size: 25px;
}

#recent-container{
    /* border: 1px solid white;  */
    height: 350px;
}
#recent-container li{
    /* background-color: #8aC4D0; */
    width: 150px;
    border-radius: 5px;
}

#recent-container li:hover{
    background-color: #F4D160;
    width: 150px;
    border-radius: 5px;
}
#favorites-container{ 
    /* border: 1px solid white;  */
    height: auto;
}


/****
Search
****/
.searchBox{
    padding: 40px;
    margin: 20px;
    width: 100%;
    display: block;
}

.searchBox input{
    height: 35px;
    width: 250px;
}

#food-btn{
    background-color: #8aC4D0;
    height: 50px;
    width: 100px;
    border: none;
    font-size: 20px;
    color: #28527A;
    margin: 10px;
    border-radius: 5px;
}

#drink-btn{
    background-color: #8aC4D0;
    height: 50px;
    width: 100px;
    border: none;
    font-size: 20px;
    color: #28527A;
    margin: 10px;
    border-radius: 5px;
}

#food-btn:hover{
    background-color: #F4D160;
    color: #FBEEAC;
    box-shadow: 0 0 10px 1px;
}

#drink-btn:hover{
    background-color: #F4D160;
    color: #FBEEAC;
    box-shadow: 0 0 10px 1px;
}

/****
Cards
****/

.info-card{
    height: auto;
    width: 200px;
    background-color: #FBEEAC;
    border-radius: 5px;  
    box-shadow: 0 0 10px 1px; 
}
.info-card h2{
    padding: 2px;
}

.info-card img{
    max-height: 100%;
    width: 150px;
    margin-left: 25px;
    border-radius: 5px;
}